<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>lasthopefinal</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Busadd</display-name>
    <servlet-name>Busadd</servlet-name>
    <servlet-class>com.pu.Busadd</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Busadd</servlet-name>
    <url-pattern>/Busadd</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DBUtil</display-name>
    <servlet-name>DBUtil</servlet-name>
    <servlet-class>util.DBUtil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DBUtil</servlet-name>
    <url-pattern>/DBUtil</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Bus</display-name>
    <servlet-name>Bus</servlet-name>
    <servlet-class>model.Bus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Bus</servlet-name>
    <url-pattern>/Bus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteBus</display-name>
    <servlet-name>deleteBus</servlet-name>
    <servlet-class>com.pu.deleteBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBus</servlet-name>
    <url-pattern>/deleteBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBus</display-name>
    <servlet-name>DeleteBus</servlet-name>
    <servlet-class>com.pu.DeleteBus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBus</servlet-name>
    <url-pattern>/DeleteBus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServelet</display-name>
    <servlet-name>LoginServelet</servlet-name>
    <servlet-class>com.pu.LoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServelet</servlet-name>
    <url-pattern>/LoginServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updatePass</display-name>
    <servlet-name>updatePass</servlet-name>
    <servlet-class>com.pu.updatePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updatePass</servlet-name>
    <url-pattern>/updatePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchServelet</display-name>
    <servlet-name>SearchServelet</servlet-name>
    <servlet-class>com.pu.SearchServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServelet</servlet-name>
    <url-pattern>/SearchServelet</url-pattern>
  </servlet-mapping>
</web-app>